@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.container-login {
    width: 100%;
    height: 100vh;
    background-image: url(../access/bg.jpg.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.content-login {
    position: absolute;
    background-color: #0e0e0e45;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-login .wlc {
    position: absolute;
    color: white;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 800;
    font-size: 33px;
}

.container-login .wlc-b {
    position: absolute;
    color: rgb(209, 195, 195);
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 17px;
}

.content-login .rg-fg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55%;
    display: flex;
    height: 50px;
    align-items: center;
}

.content-login .btn-lock {
    display: flex;
    margin: 0 5px;
    border: none;
    outline: none;
    height: 44px;
    width: 136px;
    border-radius: 5px;
    background-color: rgba(98, 161, 140, 0.658);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.btn-lock:hover {
    color: white;
    background-color: rgb(61, 116, 97);
}

.input-login-valid:active {
    border: 1xp solid black;
}

/* reset */
button,
fieldset,
input {
    all: unset;
}






.Fieldset {
    margin-bottom: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Fieldset .InputPW error {
    border: 1px solid red;
    animation: invalid 0.3s 2;
}

@keyframes invalid {
    25% {
        translate: 6px 0;
    }

    50% {
        translate: -6px 0;
    }

    75% {
        translate: 6px 0;
    }
}

.Label {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 10px;
    color: #fff;
    display: block;
}

.Input {
    flex: 1 0 auto;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    box-shadow: 0 0 0 1px #fff;
    height: 35px;
}

.btn-btnlogin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 92px;
    height: 30px;
    padding: 7px 13px;
    display: flex;
    font-size: 17px;
    font-weight: 500;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--green4);
    color: var(--green11);
    border: none;
    margin-top: 4%;
}

.err-input {
    position: absolute;
    bottom: 76%;
    font-weight: 600;
    color: rgb(240, 18, 18);
}

@media(min-width: 850px) and (max-width: 1110px) {
    .content-login .wlc {
        top: 19%;
    }

    .container-login .wlc-b {
        top: 26%;
    }

    .tab-login {
        top: 57%;
    }
}

@media(min-width: 400px) and (max-width: 650px) {
    .container-login .wlc-b {
        width: 323px;
    }
}